.container {
  @apply w-full flex border items-center rounded-[8px];
}
.containerFocus {
  @apply border-secondary-700 caret-current;
}

.containerHasValue {
  @apply border-primary-700;
}

.wrapper {
  @apply w-full h-[45px] relative overflow-visible;
}
.label {
  @apply text-sm font-medium text-primary-300 leading-5 px-1 bg-white absolute top-1/2 left-[10px] -translate-y-1/2 transition-all duration-300 focus:bg-white z-10;
}

.labelFocused {
  @apply -top-[10px] left-4 translate-x-0 translate-y-0 text-secondary-700;
}
.labelHasValue {
  @apply text-primary-700;
}

.input {
  @apply block w-full h-full px-[10px] caret-current rounded-8 text-base outline-none disabled:grayscale transition-colors;
}
