.label {
  @apply text-sm font-medium text-primary-300 bg-white px-1 absolute top-[15px] left-[10px] -translate-y-1/2 transition-all duration-300 z-10;
}
.labelFocused {
  @apply -top-[10px] left-4 translate-x-0 translate-y-0 text-secondary-700;
}
.labelHasValue {
  @apply text-primary-700;
}

.input {
  @apply block w-full h-full p-[10px] caret-white border rounded-[8px] text-base outline-none disabled:grayscale transition-colors;
}

.inputIsFocused {
  @apply border-secondary-700 caret-current;
}

.inputHasValue {
  @apply border-primary-700;
}
.wrapper {
  @apply w-full h-24 relative overflow-visible;
}
